body > div.header > center > h1{

}

.Navbar {
    background-color: #333;
    overflow: hidden;
  }
  
 
  .Navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  
  .Navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  
  .Navbar a.active {
    background-color: #04AA6D;
    color: white;
  }
  body > div.viewarea > div{
    display: flex;
    flex-direction: row;
  }
  body > div.viewarea > div> div{
    margin-left: 20px;
    margin-right: 20px;
    
  }

  body > div.viewarea > div > div > p{
    text-align: justify;
  }
  body > div.viewarea > div > div > div{
    text-align: right;
  }
  body > div.viewarea > div{
    border: 1px solid rgb(67, 63, 63);
    padding: 5px;
    padding-top: 10px;
    margin-top: 10px;
    margin: 5px;
    border-radius: 5px;
  }
  body > footer{
    background-color: #f1f1f1;
    
    
  }
  body > footer > div{
    background-color: rgba(0, 0, 0, 0.2);
  }
  body > div.viewarea > div> img{
    height: 183px;
    width: 256px;
    
  }
  #message{
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  body > section > div > center > div > form{
    text-align: left;
  }